STRIPE_SECRET_KEY=sk_live_xxxxxxxxxxxxxxxxxxxx
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxx
RESEND_AUDIENCE_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
VITE_SENTRY_DSN=https://xxxxxxxxxxxxxxxxxxxx@xxxx.ingest.sentry.io/xxxx
VITE_CONTENTFUL_SPACE_ID=xxxxxxxxxxxxxxxx
VITE_CONTENTFUL_DELIVERY_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
